/* Reviews.css */
.reviews {
    display: flex;
    padding: 2rem;
    background-color: #d86d6d;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.review {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 15px;
}
.box{
    display:"flex" ;
    height: 150;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
}
.avatar {
    display: flex;
    flex: 1;
    width: auto;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    justify-content: space-between;
  }
  
  .avatar img {
    display: block;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    display: flex;
    flex: 2;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .reviewName{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
  }
  .reviewComment{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
  }
  
  @media (max-width: 600px) {
    .review {
      flex-direction: column;
      align-items: center;
    }
  
    .avatar {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  